$red-pill-gradient: linear-gradient(180deg, #87031c 0%, #df0000 100%);
$red-pill-colour: #CE1135;

$navbar-colour: $red-pill-colour;
$navbar-gradient: $red-pill-gradient;
$navbar-text-colour: white;
$navbar-logo-font: $heading-font;
$navbar-links-font: $body-font;