.primaryButton {
    display: inline;
    cursor: pointer;
    border: none;
    padding: 0.8rem 2rem;
    color: #fff;
    font-family: $heading-font;
    font-weight: 600;
    font-size: 1rem;
    background: $navbar-gradient;
    text-transform: uppercase;    
}

.primaryButton a {
    color: inherit;
    text-decoration: none;
}

.secondaryButton {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    color: black;
    font-family: $heading-font;
    font-weight: 600;
    font-size: 0.8rem;
    background: none;
    text-transform: uppercase;    
}

.button__icon {
    .icon {
        padding-right: 10px;
    }
}

button.red-pill-button {
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background-color: $red-pill-colour;
    
    color: white;
    font-family: $body-font;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 25px;
}

button.scrollButton {
    margin: 2rem 0;
    background: none;
    border: none;
    a {
        color: inherit;
    }
    i {
        font-size: 20pt;
    }
}

@media (min-width: 500px) {
    button .red-pill-button {

    }   
}