.primaryButton {
    display: inline;
    cursor: pointer;
    border: none;
    padding: 0.8rem 2rem;
    color: #fff;
    font-family: $heading-font;
    font-weight: 600;
    font-size: 1rem;
    background: $navbar-gradient;
    text-transform: uppercase;    
}

.secondaryButton {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    color: black;
    font-family: $heading-font;
    font-weight: 600;
    font-size: 0.8rem;
    background: none;
    text-transform: uppercase;    
}

.button__icon {
    .icon {
        padding-right: 10px;
    }
}