.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row > *:first-child {
    border-right: solid 2px black;
}

.book-card {
    padding: 0 !important;
}

.book-card > * {
    padding: 2rem;
}

.book-thumbnail {
    width: 170px !important;
}

.book-card p.description {
    padding-bottom: 1rem;
}

@media (min-width: 500px) {
    .book-card {
        align-items: center;
        flex-direction: row;
    }

    .book-card .book-thumbnail {
        max-width: 170px;
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 2rem;
}

.book-card .heading-text {
    text-align: center;
    margin-bottom: 1rem;
    font-family: $heading-font;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.card {
    width: 100%;
    background: #fff;
    padding: 1.5rem;
    border: 2px solid black;
    border-bottom: none;
}

.card:last-child {
    border-bottom: solid 2px black;
}

.card .card-title {
    color: $primary-text-colour;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
    
}

.card .heading {
    display: inline-flex;
    align-items: center;
}

.card .subheading::before {
    content: ''
}

.card .subheading {
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 600;
    color: #707070;
    font-size: 1rem;
    padding-bottom: 2px;
}

@media (min-width: 720px) {
    .card .card-title {
        flex-direction: row;
        align-items: flex-end;
        row-gap: 0px;
    }

    // .card .subheading {
    //     padding-left: 0.5rem;
    // }
}

.card .heading-text {
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    // padding-left: 1rem;
}

.card .icon {
    font-size: 1.6rem;
}

.card span.author, .card span.date {
    color: #676767;
    padding: 0.5rem 0;
}

.card button {
    margin-top: 0.5rem;
}

.card .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card .tags .tagContainer {
    padding: 2px 5px;
    margin: 5px 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}