.content {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > header {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: rgb(219, 219, 219);
    background: linear-gradient(45deg, rgb(219, 219, 219), rgb(151, 151, 151));
    width: 100%;
    padding: 2rem;
}

header .content-image {
    max-width: 100%;
}

header .content-title {
    font-size: 2rem;
    font-family: $heading-font;
    font-weight: 800;
    background-color: white;
    padding: 1rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.226) 20px 20px 50px;
}

.content img {
    max-width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}