.pageHeading {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.pageHeading__index {
    padding: 2rem 0;
}

.pageHeading > span {
    text-align: center;
    font-family: $heading-font;
    text-transform: uppercase;
    display: block;
}

.pageHeading .preheading {
    font-size: 1rem;
    font-weight: 600;
    color: $red-pill-colour;
}

.pageHeading .heading {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: $red-pill-colour;
}

@media (min-width: 500px) {
    .pageHeading {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .pageHeading .heading {
        font-size: 4rem;
        font-weight: 600;
        color: $red-pill-colour;
    }

    .pageHeading .subheading {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }
}

.pageHeading .subheading {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}