section.hero {
    min-height: 80vh;
    justify-content: flex-start;
}

section {
    color: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section > .siteMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}